@import 'setting';
@import 'reset';
@import 'mixin';
@import 'base';
@import 'clearfix';

/* 共通
************************* */

.contents {
    background-color: $base-background-color;
}

.content-inner {
    width: 960px;
    margin: 0 auto;
}

.top-title {
    font-size: 48px;
    font-family: COCOGOOSE;
    text-align: center;
}

/* top-mainvisual
************************* */

.top-mainvisual {
    margin: 0 auto;
    width: 100%;
    position: relative;

    .img-mainvisual {
        width: 100%;
    }

    .img-title01 {
        width: 40%;
        position: absolute;
        top: 240px;
        left: 50px;
    }
}