    <meta charset="UTF-8">
    <title>WEB D-1グランプリ2016</title>

    <meta name="description" content="WEB D-1グランプリ2016">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:locale" content="ja_JP">
    <meta property="fb:admins" content="">
    <meta property="og:title" content="WEB D-1グランプリ2016">
    <meta property="og:description" content="WEB D-1グランプリ2016">
    <meta property="og:url" content="https://webd1-grandprix-2016.netlify.com/">
    <meta property="og:site_name" content="WEB D-1グランプリ2016">
    <meta property="og:type" content="blog">
    <meta property="og:image" content="images/bg_sp.png">

<!--     <link rel="shortcut icon" href="images/common/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="images/common/apple-touch-icon-precomposed.png"> -->

    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" type="text/css" href="./css/csshake.min.css">