<!DOCTYPE html>
<html lang="jp">
<head>
	<% include _head %>
</head>
<body>
<div class="contents">
    <section class="top-mainvisual">
        <img src="images/img-webD-1_BG.jpg" class="img-mainvisual">
        <img src="images/img-title01.png" class="img-title01">
    </section>

    <div class="content-inner">
        <section class="top-webd1">
            <h2 class="top-webd1-title">WEBD-1グランプリとは</h2>
            <p class="top-webd1-explanation">
                Life is Techのメンターたちが1つの会場に集い、Webデザインをを楽しみ、競い合おうというイベント、それがWebD-1グランプリです。コーディングをしたいけど良い題材がない？　ポートフォリオ作成もいいけど、色んなテーマで作ってみたい？　一日で世界に公開されるWebサイトを作っちゃいましょう。すごいアプリから世の中のためになるサービス、IoTまで、それらを引き立たせ、ユーザーとつなぐ事ができるのがWebデザインの醍醐味。いっぱい作っていっぱい見ていっぱい触って、お楽しみください！
            </p>
        </section>
        <section class="top-about">
            <h3 class="top-title">ABOUT</h3>
            <ul>
                <li>
                    <h4 class="">開催日程</h4>
                    <time>11/23</time>
                    <p>
                        開催日程は勤労感謝の日の、１１月２３日（水）になります。祝日のスケジュールをいますぐチェック！
                    </p>
                </li>
                <li>
                    <h4 class="">チーム構成</h4>
                    <time>3人</time>
                    <p>
                        基本３人一組のチーム戦で行います。個人での応募も歓迎!（１〜２名の応募の場合運営側でチームを組ませていただきます）
                    </p>
                </li>
                <li>
                    <h4 class="">参加上限</h4>
                    <time>30人</time>
                    <p>
                        公平で丁寧な審査実施のため、参加上限は３０人！
                    </p>
                </li>
            </ul>

        </section>
        <section class="top-theme">
            <h3 class="top-title">THEME</h3>
            <span class="top-theme-question">?</div>
            <p>
                当日発表いたします！<br>
                お楽しみに！
            </p>
        </section>
        <section class="top-judge">
            <h3 class="top-title">JUDGE</h3>
            <ul>
                <li>
                    <div class="jude-img-frame">
                        <img src="">
                    </div>
                    <div class="judge-text">
                        <span class="judge-name">
                            金澤 直樹
                        </span>
                        <span class="judge-postion">
                            Life is Tech! Chief Designer
                        </span>
                        <span class="judge-explanation">
                            Life is Tech!の全てのデザインを担う、言わずと知れたスーパーデザイナー。デザイナーであれば彼ののDribbleは見逃せない。
                        </span>
                    </div>
                </li>
                <li>
                    <div class="jude-img-frame">
                        <img src="">
                    </div>
                    <div class="judge-text">
                        <span class="judge-name">
                            金澤 直樹
                        </span>
                        <span class="judge-postion">
                            Life is Tech! Chief Designer
                        </span>
                        <span class="judge-explanation">
                            Life is Tech!の全てのデザインを担う、言わずと知れたスーパーデザイナー。デザイナーであれば彼ののDribbleは見逃せない。
                        </span>
                    </div>
                </li>
                <li>
                    <div class="jude-img-frame">
                        <img src="">
                    </div>
                    <div class="judge-text">
                        <span class="judge-name">
                            金澤 直樹
                        </span>
                        <span class="judge-postion">
                            Life is Tech! Chief Designer
                        </span>
                        <span class="judge-explanation">
                            Life is Tech!の全てのデザインを担う、言わずと知れたスーパーデザイナー。デザイナーであれば彼ののDribbleは見逃せない。
                        </span>
                    </div>
                </li>
                <li>
                    <div class="jude-img-frame">
                        <img src="">
                    </div>
                    <div class="judge-text">
                        <span class="judge-name">
                            金澤 直樹
                        </span>
                        <span class="judge-postion">
                            Life is Tech! Chief Designer
                        </span>
                        <span class="judge-explanation">
                            Life is Tech!の全てのデザインを担う、言わずと知れたスーパーデザイナー。デザイナーであれば彼ののDribbleは見逃せない。
                        </span>
                    </div>
                </li>
            </ul>
        </section>

        <section class="top-prize">
            <h3 class="top-title">PRIZE</h3>
            <p class="prize-detail">近日公開予定！</p>

        </section>

        <section class="top-scheduleaccess">
            <h3 class="top-title">SCHEDULE&ACCESS</h3>
            <div class="schedule-detail">
                <span class="schedule-time">10:00</span>
                <span class="schedule-content">オープニング＆テーマ発表</span>

                <span class="schedule-time">10:30</span>
                <span class="schedule-content">開発開始</span>

                <span class="schedule-time">16:30</span>
                <span class="schedule-content">発表会</span>

                <span class="schedule-time">17:30</span>
                <span class="schedule-content">審査発表</span>

                <span class="schedule-time">18:00</span>
                <span class="schedule-content">懇親会</span>
            </div>
            <div class="access-map">
            <span class="access-address"></span>
            </div>
        </section>
    </div>

    <section class="top-aside">
        <img src="images/logo-title02.png">
    </section>
    <section class="top-entry">
    <div class="entry-text">ENTRY</div>
    </section>
    <section class="footer">
        <span class="footer-organize">Organized by</span>
        <img src="images/logo-webdesiners.png" alt="">
        <img src="images/logo-lifeistech.png" alt="">
    </section>
</div>
	<% include _script %>
</body>
</html>