<!DOCTYPE html>
<html lang="jp">
<head>
	<% include _head %>
</head>
<body>
<div class="contents">
    <section class="top-mainvisual">
        <img src="images/img-title01.png" class="img-title01 shake">
    </section>

    <div class="top-inner">
        <section class="top-webd1">
            <div class="content-inner">
                <h2 class="top-webd1-title"><b>WEBD-1グランプリ</b>とは</h2>
                <p class="top-webd1-explanation">
                    Life is Techのメンターたちが1つの会場に集い、Webデザインをを楽しみ、競い合おうというイベント、それがWebD-1グランプリです。コーディングをしたいけど良い題材がない？　ポートフォリオ作成もいいけど、色んなテーマで作ってみたい？　一日で世界に公開されるWebサイトを作っちゃいましょう。すごいアプリから世の中のためになるサービス、IoTまで、それらを引き立たせ、ユーザーとつなぐ事ができるのがWebデザインの醍醐味。いっぱい作っていっぱい見ていっぱい触って、お楽しみください！
                </p>
            </div>
        </section>

        <section class="top-about">
            <div class="content-inner">
                <h3 class="top-title">ABOUT</h3>
                <ul class="about-list clearfix">
                    <li class="about-item">
                        <h4 class="about-item-title">開催日程</h4>
                        <time class="about-time">
                            <span class="about-time-month">11/</span>
                            <span class="about-time-date" id="js-time-23">23</span>
                        </time>
                        <p class="about-item-explanation">
                            開催日程は、勤労感謝の日である１１月２３日（水）になります。祝日のスケジュールをいますぐチェック！
                        </p>
                    </li>
                    <li class="about-item">
                        <h4 class="about-item-title">チーム構成</h4>
                        <span class="item-number" id="js-time-3">3<span class="item-unit">人</span></span>
                        <p class="about-item-explanation">
                            基本３人一組のチーム戦で行います。個人での応募も歓迎！（１〜２名の応募の場合運営側でチームを組ませていただきます）
                        </p>
                    </li>
                    <li class="about-item">
                        <h4 class="about-item-title">参加上限</h4>
                        <span class="item-number" id="js-time-30">30<span class="item-unit">人</span></span>
                        <p class="about-item-explanation">
                            公平で丁寧な審査実施のため、参加上限は３０人！
                        </p>
                    </li>
                </ul>
            </div>
        </section>

        <section class="top-theme">
            <div class="content-inner">
                <h3 class="top-title">THEME</h3>
                <span class="top-theme-question">?</span>
                <p>
                    当日発表いたします！<br>
                    お楽しみに！
                </p>
            </div>
        </section>

        <section class="top-judge">
            <div class="content-inner">
                <h3 class="top-title">JUDGE</h3>
                <ul class="judge-list clearfix">
                    <li class="clearfix">
                        <div class="judge-img-frame">
                            <img src="images/img-zawacchisan.png">
                        </div>
                        <div class="judge-text">
                            <span class="judge-name">
                                金澤 直樹
                            </span>
                            <span class="judge-postion">
                                Life is Tech! Chief Designer
                            </span>
                            <span class="judge-explanation">
                                Life is Tech!の全てのデザインを担う、言わずと知れたスーパーデザイナー。デザイナーであれば彼ののDribbleは見逃せない。
                            </span>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="judge-img-frame">
                            <img src="images/img-special.png">
                        </div>
                        <div class="judge-text">
                            <span class="judge-name">
                                ？？？
                            </span>
                            <span class="judge-postion">
                                Life is Tech!
                            </span>
                            <span class="judge-explanation">
                                Life is Tech!の社員の誰かが、もしかしたら審査員としてアサインしてくれるかも？！
                            </span>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="judge-img-frame">
                            <img src="images/img-special.png">
                        </div>
                        <div class="judge-text">
                            <span class="judge-name">
                                ？？？
                            </span>
                            <span class="judge-postion">
                                Life is Tech! Designer
                            </span>
                            <span class="judge-explanation">
                                Life is Tech!社員デザイナー枠の狭き門をこじ開けてJoinしたと噂される、デザイナーの女神。メンターの前に初降臨。
                            </span>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="judge-img-frame">
                            <img src="images/img-special.png">
                        </div>
                        <div class="judge-text">
                            <span class="judge-name">
                                ？？？
                            </span>
                            <span class="judge-postion">
                                Life is Tech!メンター
                            </span>
                            <span class="judge-explanation">
                                今回のテーマのアプリを制作した凄腕メンター。
情報近日公開予定。
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <section class="top-prize">
            <div class="content-inner">
                <h3 class="top-title">PRIZE</h3>
                <p class="prize-detail">近日公開予定！</p>
            </div>
        </section>

        <section class="top-scheduleaccess">
            <div class="content-inner clearfix">
                <h3 class="top-title">SCHEDULE&
                    <span class="br">ACCESS</span></h3>
                <div class="schedule-detail">
                    <span class="schedule-time">10:00</span>
                    <span class="schedule-content">オープニング＆テーマ発表</span>

                    <span class="schedule-time">10:30 ~ 16:15</span>
                    <span class="schedule-content">開発タイム</span>

                    <span class="schedule-time">16:30</span>
                    <span class="schedule-content">発表会</span>

                    <span class="schedule-time">17:30</span>
                    <span class="schedule-content">審査発表</span>

                    <span class="schedule-time">18:00</span>
                    <span class="schedule-content">懇親会</span>
                </div>
                <div class="access-map">
                    <div class="map-frame">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12968.822985006364!2d139.7359787!3d35.6473022!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd3c27b8833c1cac4!2z44Op44Kk44OV44Kk44K644OG44OD44Kv5qCq5byP5Lya56S-!5e0!3m2!1sja!2sjp!4v1478160728947" width="500" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <div class="access-address">
                        <img src="images/icon-map.png" width="30px">
                        <span class="access-address-text">東京都港区南麻布2-12-7 TMDビル9階
                        </span>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section class="top-aside">
        <div class="content-inner">
            <img src="images/img-title02.png">
        </div>
    </section>

    <section class="top-entry">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSephmrLyQUnkgm01LpHpHSWyO72qCdClF7p9x61BSQlw65b_g/viewform" class="entry-text" target="_blank">ENTRY</a>
    </section>

    <section class="footer">
        <span class="footer-organize">Organized by</span>
        <img src="images/logo-webdesiners.png" alt="WebDesinersロゴ" class="footer-logo-webd">
        <img src="images/logo-lifeistech.png" alt="Life is Tech!ロゴ" class="footer-logo-lit">
    </section>
</div>
	<% include _script %>
</body>
</html>