<!DOCTYPE html>
<html lang="jp">
<head>
	<% include _head %>
</head>
<body>
<div class="contents">
    <section class="top-mainvisual">

    </section>
    <section class="top-webd1">

    </section>
    <section class="top-about">

    </section>
    <section class="top-theme">

    </section>
    <section class="top-judge">

    </section>
    <section class="top-prize">

    </section>
    <section class="top-scheduleaccess">

    </section>
    <section class="top-aside">

    </section>
    <section class="top-entry">

    </section>
    <section class="footer">

    </section>
</div>
	<% include _script %>
</body>
</html>